<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zak.testapp">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NoDisplayActivity" android:theme="@android:style/Theme.NoDisplay"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FaqActivity" />
        <activity android:name=".LanguageActivity" />
        <activity android:name=".LocationActivity" />
        <activity android:name=".OffersActivity" />
        <activity android:name=".OpenAccountActivity" />
        <activity android:name=".ProductsActivity" />
        <activity android:name=".RegisterUserActivity" />
        <activity android:name=".ToolsActivity" />
        <activity android:name=".ContactUsActivity" />
        <activity android:name=".CountryActivity" />


        <service
            android:name=".MyService"
            >
        </service>
    </application>

</manifest>